
.fr-recipe {
  position: fixed;
  bottom: 0px;
  height: 200px;
  width: 95%;
  z-index: 100;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  border-color: #A2FFB1;
  padding: 20px;
  margin: 50px;
  list-style-type: none;
  overflow: scroll;
  box-shadow: 4px 4px #E1FFE7;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 9pt;
}

.fr-recipe-header {
  margin-bottom: 15px;
  height: 20px;
  position: relative;
}

.fr-recipe-title {
  text-decoration: underline;
  font-size: 12pt;
}

.fr-recipe-ingredients {
  width: 25%;
}

.fr-recipe-ingredients input {
  width: auto;
  margin-right: 6px;
}

.fr-recipe-ingredients ul{
  list-style-type: none;
  display: inline;
  float:left;
}

.fr-recipe-ingredients li {
  margin-bottom: 10px;
}

.fr-recipe-directions {
  margin: 0px !important;
  float: right!important;
  width: 70%;
  padding-right: 40px;
}

.fr-recipe-directions ul {
  list-style-type: none;
}

.fr-recipe-directions li {
  margin-bottom: 10px;
}

.fr-btn {
  position: absolute;
  right: -20vh;
  top: 0px;
  cursor: pointer;
}

.fr-btn-bookmark:hover {
  color: rgb(136, 85, 255);
}

.fr-recipe svg {
  height: 20px;
}
